{% extends 'admin/configuration.html' %}

{% block form %}
    <div class="row mb-2">
        <h7>Entrer ici les heures d'ouverture de votre établissement.</h7>
        <small class="test-muted">Ces informations sont utiles pour les parents d'élèves.</small>
        <!-- Display error messages -->
        <div class="my-3">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{category}} text-center">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 pb-2">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6"></div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <form action="" method="POST">
            {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col-3 me-3">
                         <!-- day1 -->
                        <div class="form-group mb-2">
                            {{ form.day1.label(class="form-label") }}
                            {{ form.day1(class="form-control ") }}
                        </div>
                        <!-- Day2 -->
                        <div class="form-group mb-2">
                            {{ form.day4.label(class="form-label") }}
                            {{ form.day4(class="form-control ") }}
                        </div>
                    </div>

                    <div class="col-3 me-3">
                         <!-- day3 -->
                        <div class="form-group mb-2">
                            {{ form.day2.label(class="form-label") }}
                            {{ form.day2(class="form-control ") }}
                        </div>
                        <!-- Day4 -->
                        <div class="form-group mb-2">
                            {{ form.day5.label(class="form-label") }}
                            {{ form.day5(class="form-control ") }}
                        </div>
                    </div>
                    <div class="col-3 me-3">
                         <!-- day5 -->
                        <div class="form-group mb-2">
                            {{ form.day3.label(class="form-label") }}
                            {{ form.day3(class="form-control ") }}
                        </div>
                        <!-- Day6 -->
                        <div class="form-group mb-2 ">
                            {{ form.day6.label(class="form-label") }}
                            {{ form.day6(class="form-control ") }}
                        </div>
                    </div>
                    <div class="col-3">
                        <!-- Day7 -->
                        <div class="form-group mb-2">
                            {{ form.day7.label(class="form-label") }}
                            {{ form.day7(class="form-control ") }}
                        </div>
                    </div>
                </div>

                  <!-- Submit button -->
		        {{ form.submit(class = "btn btn-warning btn-block text-center my-5") }}
            </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2"></div>
    </div>
{% endblock form%}