{% extends 'admin/dashboard_layout.html' %}

{% block content %}
	<div class="container mt-5">
		<!-- Display Error messages -->
		<div class="mb-4">
			{% with messages= get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="alert alert-{{ category }} text-center">
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
		</div>
		<div class="row">
				<h2 class="mb-5 border-bottom pb-3">TOUTE L'ACTUALITE</h2>
				{% for post in posts %}
				<div class="col-xs-11 col-md-4 mb-4">
					<div class="card">
					  <div class="card-body">
						<h5 class="card-title"><b>{{post.title}}</b></h5>
						<p class="card-text">
							<a href="{{ url_for('admin.post', post_id=post.id)}}" class="btn btn-warning">Lire</a>
						</p>

					  </div>
					</div>
				</div>
				{% endfor %}
			</div>
	</div>

{% endblock content %}