{% extends 'www/Layout_Base.html' %}

{% block title %}
	{{title}}
{% endblock title %}

{% block banner %}
	<div class="container-fluid">
		<div class="row">
			<div id="banner"class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('{{ url_for('static', filename='images/img5.jpg') }}');">
				<div class="container">
					<h1 class="py-5 text-center"> <strong>Le Primaire</strong></h1>
					<a class="btn btn-flat btn-warning" href="{{url_for('www.contact')}}">Contactez-nous</a>
				</div>
			</div>
		</div>
	</div>
{% endblock banner %}


{% block content %}
	<div class="container mt-5">
		<div class="row mb-5">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
				<img src="{{ url_for('static', filename='images/img12.jpg') }} " class="img-fluid shadow-5 rounded" alt="Le Primaire">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
				<div class="card">
					<div class="card-body">
						<p class="card-text">
						{% for c in school.cycles %}
							{% if c.designation == 'Le primaire'%}
								{{ c.description }}
							{% endif %}
						{% endfor %}
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row mb-5">
		<h3>Le Primaire en images</h3>
		<hr>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
			<div class="card">
				<div class="card-body">
					<img src="{{ url_for('static', filename='images/le_vivre_ens_3.jpg') }}" class="img-fluid shadow-5" alt="Le Primaire">
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
			<div class="card">
				<div class="card-body">
					<img src="{{ url_for('static', filename='images/le_vivre_ens_2.jpg') }}" class="img-fluid shadow-5" alt="Le Primaire">
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
			<div class="card">
				<div class="card-body">
					<img src="{{ url_for('static', filename='images/img21.jpg') }}" class="img-fluid shadow-5" alt="Le Primaire">
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
			<div class="card">
				<div class="card-body">
					<img src="{{ url_for('static', filename='images/manuel_scolaire.jpg') }}" class="img-fluid shadow-5" alt="Le Primaire">
				</div>
			</div>
		</div>
	</div>
	</div>

{% endblock content %}
